@import "tailwindcss";

body{
  background-color: #050205;
  color: #ffff;
  overflow-x: hidden;
  
}

.exo2 {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.lightexo2 {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}


.kode-mono {
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
